<div class="span9">

  <% if @fileposting.errors.any? %>
      <div class="alert alert-error span4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Form is invalid</h4>
        <ul>
          <% for message in @fileposting.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="span9">
    <%= form_for @fileposting, html: {multipart: true, class: "form-horizontal"}, class: 'form-horizontal' do |f| %>
        <div class="control-group span6">
          <%= f.label :title, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="control-group span6">
          <%= f.label :filetype, class: 'control-label' %>
          <div class="controls">
            <%= f.select :filetype, options_for_select(["Video", "Audio"], @fileposting.filetype)%>
          </div>
        </div>

        <div class="control-group span6">
          <% # Display filename if a file already exists, file is not editable.               %>
          <% if  @fileposting.file? %>
              <%= simple_format "File: " + File.basename(@fileposting.file.path) %>
              <div data-provides="fileupload" class="fileupload fileupload-exists">
                <input type="hidden" value="" name="">

                <div class="input-append">
                  <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><%= File.basename(@fileposting.file.path) %></span></div>
                  <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="fileposting[file]" id="fileposting_file"></span><a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                </div>
              </div>
          <% else %>
              <%= f.label :file, class: 'control-label' %>
              <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="input-append"><div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                    <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><%= f.file_field :file %></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>

        <div class="control-group span6">
          <%= f.label :tag_list, "Tags (separated by commas)", class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :tag_list %>
          </div>
        </div>
        <div class="actions span12">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>