<div class="blogpost-detail">
  <div class="span" style="display: none;"></div>
  <h1>Filepost</h1>

  <div class="row-fluid">
    <div class="picture span3"><%= image_tag gravatar(@fileposting.user.email, 60) %></div>
    <header class="span8"><h3><%= link_to @fileposting.user.username, @fileposting.user %></h3></header>
  </div>
  <br>

  <header><h2><%= @fileposting.title %></h2></header>
  <div class="row-fluid">
    <div class="well span5">
      <% if @fileposting.filetype == "Audio" %>
          <audio controls>
            <source src="<%= @fileposting.file %>" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      <% else %>
          <video width="320" height="240" controls>
            <source src="<%= @fileposting.file %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      <% end %>
    </div>

    <div class="span5">
      <p><strong>Tags:</strong> <%= raw @fileposting.tag_list.map { |t| link_to t, blogtag_path(t) }.join(', ') %></p>

      <p class="muted">Posted <%= time_ago_in_words(@fileposting.created_at) %> ago</p>
    </div>

    <% if current_user == @fileposting.user %>
        <div class="span12">
          <%= link_to 'Edit post', edit_fileposting_path(@fileposting), class: 'btn btn-small btn-info' %>
        </div>
    <% end %>
  </div>

  <%= render partial: "shared/commentlist" %>

  <%= render partial: "shared/newcomment", locals: {:posting => @fileposting} %>

  <div class="row-fluid">
    <%= link_to 'Back', filepostings_path, class: 'btn' %>
  </div>
</div>