<% if @user.errors.any? %>
    <div class="alert alert-error span4">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="span12">
  <%= form_for(@user) do |f| %>
      <p>

      <div class="picture"><%= image_tag gravatar(@user.email, 128) %></div>
      To change your profile picture, use the <%= link_to 'gravatar', 'https://en.gravatar.com/', target: "_blank" %>
      service.
      </p>
      <p>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </p>

      <p>
        <%= f.label :public_profile %><br>
        <%= f.check_box :public_profile %>
      </p>

      <p class="button"><%= f.submit 'Update user', class: 'btn btn-primary' %></p>
  <% end %>
</div>