<div class="profile span12">
  <h1><%= @user.username %> </h1>
  <% if current_user == @user %>
      <%= link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-small btn-info' %>
  <% end %>

  <div class="avatar"><%= image_tag gravatar(@user.email, 128) %></div>

  <p>Email: <%= @user.email %></p>

  <div class="span12">
    <h2>Friends</h2>

    <%= render partial: "shared/userlist", locals: {users: @user.friends} %>
  </div>

  <h2>Blogs</h2>
  <%= render partial: "shared/blogpostingslist", locals: {show_username: FALSE} %>

  <h2>Files</h2>
  <%= render partial: "shared/filepostingslist", locals: {show_username: FALSE} %>

  <div class="buttons span12">
    <%= link_to 'Back', users_path, class: 'btn' %>
  </div>
</div>