<div class="audioposts row-fluid">
  <div class="span" style="display: none;"></div>
  <% @audiopostings.each do |audioposting| %>
      <article class="audiopost span5 well">
        <% if show_username == TRUE %>
            <%= render partial: "shared/mini_profile", locals: {:posting => audioposting} %>
        <% end %>
        <h4><%= audioposting.title %></h4>
        <audio controls>
          <source src=" <%= audioposting.audiofile %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <br>

        Posted <%= time_ago_in_words(audioposting.created_at) %> ago

        <strong>Tags:</strong> <%= raw audioposting.tag_list.map { |t| link_to t, blogtag_path(t) }.join(', ') %>
        <br>

        <%= link_to 'Show', audioposting, class: 'btn btn-mini btn-primary' %>
        <% if audioposting.comments.count > 1 %>
            <%= audioposting.comments.count %> comments
        <% end %>
      </article>
  <% end %>
</div>