<div class="users row-fluid">
  <h1>Requested friendships</h1>

  <% @requests.each do |request| %>
      <div class="well span5">
        <div class="picture span4"><%= image_tag gravatar(request.user.email, 128) %></div>
        <div class="data span8">
          <h3><%= link_to request.user.username, request.user %></h3>
          <%= simple_format request.user.email %>
          Joined: <%= request.user.created_at.to_s(:long) %>
          <br>
          Friends: <%= request.user.friends.count %>
          <%= link_to "Accept friendship request", accept_friendship_path(request_id: request.id, user_id: request.user.id) %>
        </div>
      </div>
  <% end %>

</div>