<% if @blogposting.errors.any? %>
    <div class="alert alert-error span4">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for([@blogposting]) do |f| %>
    <div class="field">
      <%= f.label :content %>
      <br>
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <br/>
      <%= f.text_field :tag_list %>
    </div>

    <div class="actions">
      <%= f.submit "Create blogposting", class: 'btn btn-primary' %>
    </div>
<% end %>
