<%= simple_format @blogposting.content %>

<p><strong>Tags:</strong> <%= raw @blogposting.tag_list.map { |t| link_to t, blogtag_path(t) }.join(', ') %></p>

<p><strong>Written by: </strong><%= @user.username %></p>

<% if current_user == @blogposting.user %>
    <%= link_to 'Edit post', edit_blogposting_path(@blogposting) %>
<% end %>

<% # COMMENTS       %>
<section id="comments">
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
      <article class="comment">
        <div class="commenthead">
          <div class="avatar"><%= image_tag gravatar(comment.user.email, 24) %></div>
          <%= comment.user.username %> - <%= time_ago_in_words(comment.created_at) %> ago
          <% # display delete link only for comments written by this particular user       %>
          <% if current_user.to_s != '' and comment.user_id == current_user.id %>
              <span><%= link_to 'delete', blogposting_comment_path(@blogposting, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></span>
          <% end %>
        </div>
        <div class="commentbody"><%= comment.content %></div>
      </article>
  <% end %>

  <% # add a new comment       %>
  <article class="newcomment">
    <h3>Add comment</h3>

    <div class="avatar"><%= image_tag gravatar(@blogposting.user.email, 24) %></div>
    <div class="commenthead">
      <%= current_user.username %>
    </div>
    <%= form_for [@blogposting, current_user.comments.new] do |f| %>
        <%= f.text_area :content, :size => "25x2", :class => "fullwidth" %>
        <%= f.submit "Add Comment", :class => "awesome custom red" %>
    <% end %>
  </article>
</section>

<%= link_to 'Back', blogpostings_path %>

