<div class="blogpost-detail">
  <div class="span" style="display: none;"></div>
  <h1>Blogpost</h1>

  <div class="row-fluid">
    <div class="picture span3"><%= image_tag gravatar(@blogposting.user.email, 60) %></div>
    <header class="span8"><h3><%= link_to @blogposting.user.username, @blogposting.user %></h3></header>
  </div>
  <br>

  <div class="row-fluid">
    <div class="well span5">
      <%= simple_format @blogposting.content %>
    </div>

    <div class="span5">
      <p><strong>Tags:</strong> <%= raw @blogposting.tag_list.map { |t| link_to t, blogtag_path(t) }.join(', ') %></p>

      <p class="muted">Posted <%= time_ago_in_words(@blogposting.created_at) %> ago</p>
    </div>

    <% if current_user == @blogposting.user %>
        <div class="span12">
          <%= link_to 'Edit post', edit_blogposting_path(@blogposting), class: 'btn btn-small btn-info' %>
        </div>
    <% end %>
  </div>

  <%= render partial: "shared/commentlist" %>

  <%= render partial: "shared/newcomment", locals: {posting: @blogposting} %>

  <div class="row-fluid">
    <%= link_to 'Back', blogpostings_path, class: 'btn' %>
  </div>
</div>